$seconday-color: #f2f5f8;

.form-control-spacing {
  margin: 10px 0px;
}

.mat-chip-button-custom {
  background: white !important;
  padding-top: 1px !important;
}

.mat-chip-custom {
  background: $seconday-color;
  border-radius: 5px;
  padding: 8px !important;
}

.white-icon {
  color: black;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: black;
}

.user-select-none {
  user-select: none;
}
