<div style="padding: 1vw 2vw">
  <h1>Filters</h1>
  <p>Update dropdown options based on filters we select</p>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip
      (click)="changeOptions('shoes')"
      [selected]="selectedChip === 'shoes'"
      color="primary"
      >Shoes</mat-chip
    >
    <mat-chip
      (click)="changeOptions('shirts')"
      [selected]="selectedChip === 'shirts'"
      color="primary"
      >Shirts</mat-chip
    >
    <mat-chip
      (click)="changeOptions('cats')"
      [selected]="selectedChip === 'cats'"
      color="primary"
      >Cats</mat-chip
    >
    <mat-chip
      (click)="changeOptions('random')"
      [selected]="selectedChip === 'random'"
      color="primary"
      >random</mat-chip
    >
  </mat-chip-list>

  <div style="margin: 1vh 0">
    <div class="row">
      <div class="col-md-4">
        <app-dropdown
          [options]="list"
          (selectionChange)="onSelectionChange($event)"
        >
        </app-dropdown>
      </div>
      <div class="col-md-4">
        <app-dropdown
          [options]="list"
          (selectionChange)="onSelectionChange($event)"
        >
        </app-dropdown>
      </div>
      <div class="col-md-4">
        <app-dropdown
          [options]="list"
          (selectionChange)="onSelectionChange($event)"
        >
        </app-dropdown>
      </div>
    </div>

    <p>Selected Options</p>

    <mat-chip-list aria-label="Fish selection">
      <ng-container *ngFor="let item of selectedOptions">
        <mat-chip>{{ item }}</mat-chip>
      </ng-container>
    </mat-chip-list>
  </div>
</div>

<div style="padding: 1vw 2vw">
  <h1>Alignment</h1>
  <div style="margin: 1vh 0">
    <div class="flex-wrap">
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
      <app-dropdown [options]="list"> </app-dropdown>
    </div>
  </div>
</div>
