<div class="form-field-spacing display-flex">
  <div class="flex1">
    <div
      [ngClass]="{ 'dropdown-label-active': isDropdownActive }"
      class="dropdown-label form-field display-flex align-item-center"
      (click)="onLabelClick()"
    >
      <div class="flex1">{{ label }}</div>
      <div class="checkbox-custom">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>

    <div class="dropdown-panel" *ngIf="isDropdownActive">
      <ng-container *ngFor="let optionItem of options">
        <div matRipple class="option-item display-flex align-item-center">
          <div class="checkbox">
            <mat-checkbox
              [checked]="optionItem?.checked"
              (change)="onOptionSelect(optionItem)"
              class="example-margin"
              >{{ optionItem.name }}</mat-checkbox
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
